body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style header */
header {
    background-color: #007bff;
    color: white;
    text-align: center;
}

/* Style for the jumbotron section */

.avatar {
    width: 20%;
}


/* Portfolio Item */
.img {
    border-radius: 10px;
}

.masthead {
    background-color: #f8f9fa;
    color: #ffffff;
    text-align: center;
    padding: 80px 0;
}

.masthead .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.masthead .divider .line {
    flex: 1;
    width: 90px;
    height: 1px;
    background-color: #ffffff;
    margin: 0 10px;
}

.masthead .divider .fa-star {
    color: #ffffff;
}

/* Style for the about section */
.about {
    background-color: #f8f9fa;
    color: #ffffff;
    text-align: center;
    padding: 80px 0;
}

.about .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.about .divider .line {
    flex: 1;
    width: 5px;
    height: 1px;
    background-color: #ffffff;
    margin: 0 10px;
}

.about .divider .fa-star {
    color: #ffffff;
}

/* Style for the portfolio items */
.portfolio .bg-info {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.portfolio .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.portfolio .divider .line {
    flex: 1;
    width: 5px;
    height: 1px;
    background-color: #000000;
    margin: 0 10px;
}

.portfolio.divider .fa-star {
    color: #000000;
}


/* Style for the contact section */
.contact {
    color: #212529;
    padding: 80px 0;
    background: none;
}


.contact .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.contact .divider .line {
    flex: 1;
    width: 20%;
    height: 1px;
    background-color: #000000;
    margin: 0 10px;
}

.contact .divider .fa-star {
    color: #000000;
}



/* Style for the footer section */
footer {
    background-color: #22486e;
    color: white;
    text-align: center;
}

.copyright {
    background-color: rgb(20, 41, 61);
    color: white;
}